body{
    background-color: rgb(207, 207, 167);
    font-family: serif;

}
.title{
    color: rgb(112, 172, 196);
    font-family: monospace;
    
  
}

.header li{
    list-style: none;
    display: inline;
    padding: 20px;
}

h2{
    color:  rgb(112, 172, 196);
    font-family: monospace;
}

img{
    width: 500px;
    height: 300px;
    border-radius: 55px;
}

span{
    font-style: italic;
    font-size: 20px;
    text-decoration:  underline ;

}

li{
list-style: circle;
}

h3{
    color: rgb(90, 14, 14);
    
}

.links{
    display: block;
    color: rgb(138, 138, 16);
    line-height: 30px;
    text-decoration: none;
}

footer{
    padding: 10px;
    border: 2px solid white;
    height: 50px;
}

aside{
   position: absolute;
   right: 10px;
    width: 15%;
    height: 300px;
    background-color:  rgb(177, 177, 124);
    border-radius: 20px;
    padding: 20px;
    
}

#conteiner{
    display: flex; /*para usar o aside*/
    width: 80%;
    padding: 10px;
}

.inline{
    display:inline;
    color: black;
    line-height: 30px;
    
}

