div:hover{
    border: 5px solid black;
}


/*A pseudo-classe nth-of-type é especificada com um único argumento, o qual representa o padrão para a correspondência dos elementos. */
/* pego a div(que quero usar pode ser qualquer tag ,elemento) nth-of-type é uma pseudo-classe 1 = o primeiro h e assim por diante*/

/*Faça cada div ter uma cor própria.*/

div:nth-of-type(1){ /*div 1*/
    background-color: gray;
}
div:nth-of-type(2){ /*div 2*/
    background-color: hotpink;
}
div:nth-of-type(3){ /*div 3*/
    background-color: chartreuse;
}
div:nth-of-type(4){/*div 4*/
    background-color: red;
}
div:nth-of-type(5){
    background-color:/*div 5*/teal;

}

/* 3. Estilize cada uma das tags <h3>. */

/* Aqui estamos pegando a primeira div e o primeiro h3 */
div:nth-of-type(1) > h3{
    color: purple;  
}
/*Aqui estamos pegando a segunda div e o primeiro h3 e assim por diante nas próximas div */

div:nth-of-type(2) > h3 {
    color: green 
  }
  
  div:nth-of-type(3) > h3 {
    font-size: 20px;
  }
  
  div:nth-of-type(4) > h3 {
    font-family: monospace;
  }
  
  div:nth-of-type(5) > h3 {
    font-style: italic
  }
  
  /*Faça a terceira div ser maior que as demais.*/

div:nth-of-type(3) > h3 {
    height: 100px;
  }

/*A pseudo-classe CSS :nth-child() seleciona elementos com base em suas posições em um grupo de elementos irmãos.*/
/*odd
Representa elementos cuja posição numérica em uma série de irmãos seja ímpar: 1, 3, 5, etc.*/
/*A pseudo-classe CSS :nth-child() seleciona elementos com base em suas posições em um grupo de elementos irmãos.*/

  div:nth-child(odd) h3 {
    font-style: italic
  }



















































/* Gabarito

/* 1. Estilize as divs para que, ao passar o cursor por cima das mesmas,
elas ganhem uma borda. 
div:hover {
    border: 6px solid black;
  }
  
  /* 2. Faça cada div ter uma cor própria. 
  div:nth-of-type(1) {
    background-color: red;
  }
  
  div:nth-of-type(2) {
    background-color: green;
  }
  
  div:nth-of-type(3) {
    background-color: yellow;
  }
  
  div:nth-of-type(4) {
    background-color: grey;
  }
  
  div:nth-of-type(5) {
    background-color: lightblue;
  }
  
  /* 3. Estilize cada uma das tags <h3>. 
  /* Aqui estamos pegando a primeira div e o primeiro h3 
  
  div:nth-of-type(1) > h3 {
    color: purple;
  }
  
  /*Aqui estamos pegando a segunda div e o primeiro h3 e assim por diante nas próximas div 
  
  div:nth-of-type(2) > h3 {
    color: green 
  }
  
  div:nth-of-type(3) > h3 {
    font-size: 20px;
  }
  
  div:nth-of-type(4) > h3 {
    font-family: monospace;
  }
  
  div:nth-of-type(5) > h3 {
    font-style: italic
  }
  
  /* 4. Faça a terceira div ser maior que as demais. 
  div:nth-of-type(3) {
    height: 100px;
  }
  
  /* 5. Deixe as tags ímpares <h3> com o texto em itálico. 
  div:nth-child(odd) h3 {
    font-style: italic
  }
  */